
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.conteudo {

    background-color: #fff1e6;
    width: 50%;
    margin: 0 auto;
    padding-top:20px ;
    padding-left:20px ;
    padding-bottom:20px ;
}
h2{
    font-family: "Montserrat", sans-serif;
}
h3 {
    font-family:"Roboto Condensed", sans-serif ;
    color: #0077b6;
}
h5 {
    font-family: ;
}